.IngredientSource {
    overflow: hidden;
    padding: 20px 20px 20px 20px;
    width: 100%;
    background: white;
}

.BlankBar{
    overflow:auto;
}

.BlankBar button{
    float: right;
    border-radius: 8px;
    background-color: #00c8b4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 45%;
}

.IngredientSource h1{
    text-decoration: underline;
}