.Ingredient{
    border: 1px solid black;
    cursor: pointer;
    background: whitesmoke;
    margin-bottom: 15px;
    padding-left: 15px;
}

.Ingredient h4{
    color: black;
}

.Ingredient p{
    color: gray;
}